<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <meta author="Hugues Bruant"/>
    <title>{{page.title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/resource/style.css" type="text/css" />
    <link rel="stylesheet" href="/resource/pygments.css" type="text/css" />
  </head>
  <body>
    <div id="ywrap">
    
      <div id="xwrap">
        <div class="navbar">
          <div class="navitem"><a class="sitelink" href="/">HB</a></div>
          <div class="navitem"><a class="navlink" href="/pages/about.html">about</a></div>
          <div class="navitem"><a class="navlink" href="/pages/projects.html">projects</a></div>
        </div>
        
        <div id="content">
          {{content}}
        </div>
      </div>
      
      <div id="footer">
        <p>&copy; 2013 Hugues Bruant. All Rights Reserved.</p>
      </div>
    </div>
  </body>
</html>
