---
layout: base
---
<h1 class="posttitle">{{page.title}}</h1>
<div class="postmeta">
    <div class="postdate">Posted on {{ page.date | date: "%F"  }}</div>
</div>
{{content}}

<div class="articlenav">
    <div class="articlenavitem postnav previous">
    {% if page["previous"] != nil %}
    <a href="{{ page.previous.url }}">&lt;&nbsp; {{ page.previous.title }}</a>
    {% endif %}
    </div>

    <div class="articlenavitem postnav next">
    {% if page["next"] != nil %}
    <a href="{{ page.next.url }}">{{ page.next.title }} &nbsp;&gt;</a>
    {% endif %}
    </div>
</div>
